#title {
  font-family: 'Times New Roman', cursive;
  font-size: 60px;
  font-weight: bold;
  line-height: 1.7cm;
}

#description {
  font-size: 1.3em;
}

#dash, #map {
  height: 100%;
}


.dashboard-text {
  text-shadow: 0 0 4px darkgray;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}


