<div id="dash">
  <div class="row g-3">
    <div class="col-6 align-self-center">
      <p id="title">Destination Macedonia</p>
      <p id="description">
        Lorem ipsum, dolor sit amet consectetur adipisicing elit. Laudantium ab quos quae ducimus ut culpa minus
        ipsum laborum optio atque repellat reiciendis rerum molestiae eveniet a, et qui officiis. Magni.
      </p>
      <button class="btn btn-lg btn-outline-success" (click)="scrollToMap()">Explore</button>
    </div>
    <div class="col-6 text-center">
      <img src="../../../assets/sailboat.png" alt="sailboat">
    </div>
  </div>
</div>
<div id="map">
  <app-map></app-map>
</div>
