.navbar {
  padding: 1em;
  display: flex;
  background-color: #32334D;

  align-items: center;
}

.nav-link {
  text-decoration: none;
  color: var(--dark);
}

.nav-link:hover {
  color: #6C6979;
}

#brand {
  margin: 0;
  font-weight: bold;
  font-size: 1.5em;
  color: antiquewhite;
}
