a {
  text-decoration: none;
  color: whitesmoke;
}

.navbar {
  padding: 1em;
  display: flex;
  /*background-color: #32334D;*/
  background-color: #2E4052;
  align-items: center;
}

.nav-link {
  text-decoration: none;
}

.nav-link:hover {
  color: #6C6979;
}

#brand {
  margin: 0;
  font-weight: bold;
  font-size: 1.5em;
}
