.bg {
  background-color: #C6DCC7;
  height: 100%;
}

.attractions {
  width: 100%;
  display: flex;
  justify-content: space-around;
}

h1 {
  font-size: 5rem;
  padding: 20px 0;
  font-weight: bolder;
  border-bottom: solid 2px #2E4052;
  margin-top: auto;
  width: 100%;
}

.page-title {
  display: flex;
  padding: 2em 2em;
  font-weight: bolder;
  height: 20%;
  font-family: 'Roboto Slab', serif;
}

.attr-card {
  width: 30%;
}
