img {
  max-width: 100%;
  float: left;
  object-fit: contain;
}

.back {
  background: skyblue;
  height: 100%;
  display: flex;
  align-items: center;
}

.wrap {
  position: relative;
  display: flex;
  justify-content: center;
  background-image: url("../../../assets/Mapp.png");
  background-repeat: no-repeat;
  background-position: center;
}

.box {
  position: absolute;
  cursor: pointer;
}

